/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-JEOPARDY .xsmall.bright.light {
  color: white;               /* Header color. Default is white. */
  text-align: left;           /* Align header text. (left, center, right) */
}

.MMM-JEOPARDY .xsmall.bright {
  color: white;               /* Color the clue. Default is white. */
  text-align: left;           /* Align the clue. (left, center, right) */
}

.MMM-JEOPARDY .small.bright {
  color: yellow;               /* Color the answer. Default is white. */
  text-align: left;           /* Align the answer. (left, center, right) */
}

/* Uncomment below if you don't like Alex Trebec and want to remove the picture

.MMM-JEOPARDY .photo {
  display: none;  /* For no picture/logo */ /*
} */
